.bg-menu{
  background-color: #263238;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

span a:hover{
  color: rgba(76, 76, 141, 0.651);
  background-color: #a0a2a3;
  border-radius: 4px;

}

ul.redes-sociais {
  list-style: none;
  padding: 0;
}

ul.redes-sociais li {
  display: inline;
  padding: 5px;
}

.fa {
  font-size: 35pt;
  color: white;
  padding: 10px;
}

.fa-linkedin:hover {
  color: #0a66c2;
}

.fa-github:hover {
  color: #24292f;
}

.fa-instagram:hover {
  color: #d62976;
}
