@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');

*{
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;

}

.bg-inicio{
  background-color: #90CAF9;
}

.fs-18{
  font-size: 18pt;
}

.fs-titulo {
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
}

