<div class="containe-fluid bg-inicio">
  <div class="row d-flex align-items-center">
    <div class="col-md-6 text-center">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-dark">
          <h1 class="display-4 font-weight-bolder">Seja bem Vindo(a)!</h1>
          <h5 class="mb-4">expresse aqui os seus pensamentos e opniões</h5>
        </div>
      </div>
      <div class="row d-flex justify-content-center mb-5">
        <div class="col-md-6 d-flex justify-content-around">
          <button class="btn btn-primary mr-3" data-toggle="modal" data-target="#exampleModal">
            Nova Postagem
          </button>
          <a class="btn btn-outline-primary text-dark" href="#postagens">Ver Postagens</a>
        </div>
      </div>
    </div>

    <!-- *imagem de fundo -->
    <div class="col-md-6">
      <img class="img-fluid" src="../../assets/imagens/fundoInicio.png" alt="" />
    </div>
  </div>
</div>
<!-- ! imagem de fundo -->

<!-- * Postagens Cards -->


<div class="container mt-2" id="postagens">
  <nav class="d-flex justify-content-center">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-link active text-decoration-none text-dark font-weight-bold" id="nav-todasPostagens-tab"
        data-toggle="tab" href="#nav-todasPostagens" role="tab" aria-controls="nav-TodasPostagens"
        aria-selected="true">Todas Postagens</a>

      <a (click)='findByIdUsuario()' class="nav-link text-decoration-none text-dark font-weight-bold"
        id="nav-minhasPostagens-tab" data-toggle="tab" href="#nav-minhasPostagens" role="tab"
        aria-controls="nav-minhasPostagens" aria-selected="false">Minhas
        Postagens</a>

      <a class="nav-link text-decoration-none text-dark font-weight-bold" id="nav-postagensTema-tab" data-toggle="tab"
        href="#nav-postagensTema" role="tab" aria-controls="nav-postagensTema" aria-selected="false">Postagens por Tema</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="nav-todasPostagens" role="tabpanel"
      aria-labelledby="nav-todasPostagens-tab">

      <div class="card mb-4 mt-5 bg-light" *ngFor="let item of listaPostagens | orderBy: key : reverse">
        <div class="card-body">
          <h2 class="card-title mb-0 text-center fs-titulo">{{item.titulo}}</h2>
          <p class="card-text text-center mt-0 mb-3 p-0"><small class="text-muted">{{item.tema.descricao}}</small></p>
          <p class="card-text">{{item.texto}}</p>
          <div class="d-flex flex-column align-items-end">
            <p class="card-text m-0 p-0 text-right"><small class="text-muted">By: {{item.usuario.nome}}</small></p>
            <img class="rounded-circle
            " [src]="item.usuario.foto"
              onerror="this.src = 'https://images.tcdn.com.br/files/464197/themes/125/img/usuario.svg?5c093ec8faadae97bc036806130f8fc4'"
              alt="Foto do usuario" width="35px" height="35px">
            <p class="card-text m-0 p-0 text-right"><small class="text-muted">
                {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
              </small></p>
          </div>
        </div>
      </div>



    </div>
    <div class="tab-pane fade" id="nav-minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">
      <div class="card mb-4 mt-5 bg-light" *ngFor="let item of usuario.postagens | orderBy: key : reverse">
        <div class="card-body">
          <h5 class="card-title mb-0">{{item.titulo}}</h5>
          <p class="card-text mt-0 mb-3 p-0"><small class="text-muted">{{item.tema.descricao}}</small></p>
          <p class="card-text">{{item.texto}}</p>
          <p class="card-text m-0 p-0 text-right"><small class="text-muted">
              {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
            </small></p>

          <a [routerLink]="['/postagem-edit', item.id]" class="mr-3 btn btn-info" href="">Editar</a>
          <a [routerLink]="['/postagem-delete',item.id]" class="btn btn-danger" href="">Deletar</a>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="nav-postagensTema" role="tabpanel" aria-labelledby="nav-postagensTema-tab">

      <div *ngFor="let tema of listaTemas">
        <h3 class="text-center text-info mt-5 mb-3" [hidden]="tema.postagem.length == 0">{{tema.descricao}}</h3>
        <div class="card mb-4 mt-5 bg-light" *ngFor="let item of tema.postagem | orderBy: key : reverse"  >
          <div class="card-body">
            <h2 class="card-title mb-0 text-center fs-titulo">{{item.titulo}}</h2>
            <p class="card-text mb-3">{{item.texto}}</p>
            <div class="d-flex flex-column align-items-end mt-3">
              <p class="card-text m-0 p-0 text-right"><small class="text-muted">By: {{item.usuario.nome}}</small></p>
              <img class="rounded-circle
              " [src]="item.usuario.foto"
                onerror="this.src = 'https://images.tcdn.com.br/files/464197/themes/125/img/usuario.svg?5c093ec8faadae97bc036806130f8fc4'"
                alt="Foto do usuario" width="35px" height="35px">
              <p class="card-text m-0 p-0 text-right"><small class="text-muted">
                  {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
                </small></p>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<!-- ! Postagens Cards -->

<!-- * Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-light">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body form-group mb-2 mt-2">
        <label for="titulo">Titulo</label>
        <input [(ngModel)]="postagem.titulo" class="form-control" type="text" id="titulo"
          placeholder="Digite o título" />
        <label class="mb-2 mt-2" for="titulo">Texto</label>
        <textarea [(ngModel)]="postagem.texto" class="form-control" id="exampleFormControlTextarea1"
          rows="4"></textarea>
        <label class="mb-2 mt-2" for="titulo">Escolha seu tema ou <a data-dismiss="modal" routerLink="/temas">cadastre
            um novo:</a></label>
        <select class="form-control" id="exampleFormControlSelect1" name="tema" [(ngModel)]="idTema"
          (change)="findByIdTema()">
          <option *ngFor="let item of listaTemas" value="{{item.id}}">{{item.descricao}}</option>
        </select>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Cancelar
        </button>
        <button type="submit" class="btn btn-success" (click)="publicar()" data-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>
</div>

<!-- ! Modal -->